.enter-container {
  background-color: white;
  height: var(--height_page);

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  padding-top: 30px;
  
}

.enter-container > h1 {
  font-size: var(--fontSizeTitle);
}

.inputs-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;

  margin-top: 20px;
}

.inputs-register, .inputs-login{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.enter-container p {
  margin-top: 5px;
}

@media screen and (max-width: 670px){
  .inputs-container{
    flex-direction: column;
  }
}