.enter-container {
  background-color: white;
  height: var(--height_page);

  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  padding-top: 30px;
  
}

.inputs-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;

  margin-top: 20px;
}

.inputs-register, .inputs-login{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.usual-style-inputs-enter{
  display: flex;
  flex-direction: column;
}

.inputs-container input{
  width: 300px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ced4da;

  padding-left: 10px;
  padding-right: 10px;
}

.inputs-container input:focus{
  outline: none;
}

.enter-container button{
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
}

.enter-container button:hover{
  background-color: #0065d1;
}

.enter-container p {
  font-weight: 200;
  margin-top: 5px;
}

@media screen and (max-width: 670px){
  .inputs-container{
    flex-direction: column;
  }
}