.sucess-container {
  background-color: #d4edda;
  width: 700px;
  height: 40px;
  border-radius: 3px;
  outline: 1px solid #b9edc5;

  display: flex;
  justify-content: left;
  align-items: center;

  padding-left: 20px;

  margin-top: 10px;
  margin-bottom: 10px;
}

.sucess-container > span {
  color: #155724db;
  font-size: 1em;
  font-weight: 400;
}